.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style: none;
    padding: 2rem;
    gap: 2.5rem;
    place-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}